<html lang="en" dir="ltr">

  <%- include("partials/header"); -%>

  <body>
  <h1 class="title">Simon Says!</h1>

  <div class="container-display">
    <div class="upper">
      <div class="green btn" type="button"></div>
      <div class="red btn" type="button"></div>
    </div>

    <div class="lower">
      <div class="yellow btn" type="button"></div>
      <div class="blue btn" type="button"></div>
    </div>


    <div class="options-cont">

      <a href="game" class="option">
          <p>Play</p>
      </a>



      <a href="leaderboard" class="option">
          <p>Leaderboard</p>
      </a>




      <a href="options" class="option">
        <p>Options</p>
      </a>

    </div>

    <h2 class="footer-disclaimer">By Guille Clara</h2>
  </div>



  </body>
</html>
